:root {
  --font-family: 'Noto Sans JP', sans-serif;
  --palette-primary: #db6400;
  --palette-secondary: #5eaaa8;
  --palette-tertiary: #a3d2ca;
  --palette-quaternary: #fff;
  --palette-quinary: #f8f1f1;
}
